@import '../../assets/variables.scss';

.banners {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-list {
    width: 100%;
    max-width: $max-width;
    display: grid;
    grid-template-areas:
      'bannerOne bannerTwo'
      'bannerOne bannerThree';
    gap: $spacing-lg;
    height: 400px;

    .banner {
      border-radius: 10px;
      box-sizing: border-box;
      font-size: 25px;
      font-weight: bold;
      color: $white;
      text-shadow: 3px 4px 7px $dark-grey;

      &:nth-of-type(1) {
        padding: 50px;
        grid-area: bannerOne;
      }

      &:nth-of-type(2) {
        padding: 50px;
        grid-area: bannerTwo;
      }

      &:nth-of-type(3) {
        padding: 50px;
        grid-area: bannerThree;
      }
    }
  }
}