// COLORS
$white: #ffffff;
$grey: #eee9e8;
$red: #f42843;
$light-grey: #f8f6f6;
$light-blue: #adb4d4;
$dark-grey: #9ea0a5;
$dark-brown: #3c0d17;
$orange: #ff9028;
$blue: #2a8bf2;
$dark-blue: #3770b1;
$status-green: #86b24d;
$status-red: #b53d4d;
$status-orange: #f4bc52;

// SPACING
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$max-width: 1100px;

// STYLING
$box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;